@{
    ViewBag.Title = "Проект туралы";
}
<br>
<h2 style="text-align:center;">Студенттердің денсаулығы мен физикалық жағдайының көрсеткіштер кешенін талдау жүйесі</h2>
<br>
<br>
<br>

<p>
 <b>   Біз студенттің физикалық жағдайы мен денсаулығын 2 критерий бойынша бағалаймыз !</b>
    <ol >
        <li><b> Физиологиялық сынақтардың көрсеткіштері </b></li>
        <li><b> Педагогикалық тестілердің көрсеткіштері </b></li>
    </ol>
</p>
<br>
<br>


<h5> <b> Физиологиялық сынақтардың көрсеткіштері</b> </h5>

<ul>
    <li>Бойы (см),</li>
    <li>дене салмағы, кг </li>
    <li> КШ (қаз.) , ОГК (орыс.) , см, (КШ-кеуде шеңбері немесе ОГК-окружность грудной клетки) </li>
    <li> КШ дем алу (қаз.) , ОГК вдох (орыс.) , см, (КШ-кеуде шеңбері немесе ОГК-окружность грудной клетки) </li>
    <li> КШ дем шығару (қаз.) , ОГК выдох (орыс.) , см, (КШ-кеуде шеңбері немесе ОГК-окружность грудной клетки) </li>
    <li> ӨИ (қаз.) , ЖИ(орыс.), (өмірлік индекс немесе жизненный индекс) мл / кг,</li>
    <li> ЖСС соғу / мин , ЧСС уд/мин , (жүрек соғу жиілігі немесе частота сердечных сокращений)</li>
    <li> ҚҚсист(қаз.) , АДсист(орыс.),  (систолалық қан қысымы немесе систолическое артериальное давление)</li>
    <li> ҚҚдист(қаз.) , АДдист(орыс.),  (диастолалық қан қысымы немесе диастолическое артериальное давление)</li>
    <li> ӨТС(қаз.) , ЖЕЛ(орыс.),  (өкпенің тіршілік сыйымдылығы немесе жизненная ёмкость лёгких)</li>
    <li> ТАК(қаз.) , ДО (орыс.) , см3, (тыныс алу көлемі немесе дыхательный объем) </li>
    <li> ТАМК (қаз) , МОД (орыс.) , л, (тыныс алудың минуттық көлемі немесе минутный объем дыхания) </li>
    <li> Штанге пробасы </li>
    <li> Генчи пробасы </li>
    <li> Бейімделу әлеуеті (қаз.) Адаптационный потенциал (рус.)</li>
    <li> ОМШ (қаз) , МПК (орыс.) , (оттегінің максималды шығыны немесе Максимальное потребление кислорода) </li>
    <li> PWC170 , (физикалық жұмыс қабілеті немесе Physical Working Capacity - физическая работоспособность) </li>
    <li> Индекс Скибински</li>
    <li> Индекс Руфье</li>
    <li> Индекс Шаповаловой</li>
    <li> Индекс Робинсона </li>




</ul>
<br>
<br>

<h5>  <b>Педагогикалық тестілердің көрсеткіштері</b> </h5>

<ul>
    <li>Жүгіру 100 м, с</li>
    <li>Жүгіру 1000 м, мин </li>
    <li>Бір жерден ұзындыққа секіру, см</li>
    <li> Станолық динамометрия, кг </li>
    <li>(Оң, сол) Қол динамометриясы, кг</li>
    <li> Тартылу (рет)</li>
    <li> Пресс (мин/рет)</li>
    <li> Жүгіріп барып ұзындыққа секіру, см </li>
    <li> Жүгіру, 30м, с</li>
    <li> Граната лақтыру, м</li>
    <li> Шаттл жүгіру(Челночный бег) 3 * 10 м, с </li>
    <li> Купер тесті м, (12 мин)</li>
    




</ul>