@{
    ViewBag.Title = "Хабарласу";
}
<h2>@ViewBag.Title.</h2>
<br>
<h3>Бұл проект жеке программалау барысында жасалды ! </h3>
<br>
<br>


<address>
   Тақырып студенттердің денсаулығы және олардың физикалық көрсеткіштерін белгілі индекстер бойынша қал-жағдайларын тексереді. Студенттердің денсаулығы отанымыздың жаңа буыны үшін өте өзекті және маңызды болғандықтан өзімнің үлесімді қосқым келді !
</address>

<address>
    Авторы , Жасулан Асаинов<br />

</address>